# Q2_PART TWO
Display the top 5 Job Families according to this percentage value

In [1]:
import pandas as pd
from pandas import DataFrame
import sys, os, datetime

In [2]:
path = os.getcwd()+'\\data\\employee_compensation.csv'
path

'C:\\Users\\ninad\\LocalRepository\\gadre_ninad_spring2017\\Assignment No 03\\data\\employee_compensation.csv'

In [3]:
df = pd.read_csv(path) #Read data from CSV

In [4]:
df.head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,Calendar,2013,2,"Public Works, Transportation & Commerce",AIR,Airport Commission,38.0,"Plumbers and Pipefitters, Local 38",7300,Journeyman Trade,...,52206,98528.52,0.00,3955.59,102484.11,20142.55,12918.24,8371.76,41432.55,143916.66
1,Fiscal,2015,4,Community Health,DPH,Public Health,790.0,"SEIU - Miscellaneous, Local 1021",2600,Dietary & Food,...,52950,69169.82,755.02,4179.08,74103.92,15641.92,12499.30,5669.02,33810.24,107914.16
2,Calendar,2016,3,Human Welfare & Neighborhood Development,WOM,Department of the Status of Women,323.0,Members of Boards and Commissions,0900,Management,...,33958,200.00,0.00,0.00,200.00,0.00,51.45,15.83,67.28,267.28
3,Calendar,2016,6,General Administration & Finance,HRD,Human Resources,790.0,"SEIU - Miscellaneous, Local 1021",8100,Legal & Court,...,33073,1783.00,0.00,0.00,1783.00,325.05,257.23,153.85,736.13,2519.13
4,Fiscal,2015,5,Culture & Recreation,REC,Recreation and Park Commission,790.0,"SEIU - Miscellaneous, Local 1021",9900,Public Service Aide,...,15849,1102.50,0.00,0.00,1102.50,0.00,538.82,85.36,624.18,1726.68

In [6]:
df = df[df['Year Type'] == 'Calendar']
col = ['Year'] + list(df.loc[:,'Salaries':'Total Compensation'])
sal = df[col]

In [10]:
temp = []
for each in df['Year'].unique():
    year = sal[sal['Year'] == each]
    value = year.mean()
    temp.append((each,value['Salaries'],
               value['Overtime'],
               value['Other Salaries'],
               value['Total Salary'],
               value['Retirement'],
               value['Health/Dental'],
               value['Other Benefits'],
               value['Total Benefits'],
               value['Total Compensation']))
    
avg_comp = DataFrame(temp,columns=('Year',
                                   'Salaries',
                                  'Overtime',
                                  'Other Salaries',
                                   'Total Salary',
                                  'Retirement',
                                  'Health/Dental',
                                  'Other Benefits',
                                  'Total Benefits',
                                  'Total Compensation')).sort_values(by='Year').reset_index(drop=True)

avg_comp.head()

,Year,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
0,2013,64717.640360,4349.412288,4066.732887,73133.785536,12793.179458,9121.905413,4589.542170,26504.627042,99638.412577
1,2014,62261.763051,4337.825321,3779.957193,70379.545565,13626.814387,9103.711882,4607.544801,27338.071070,97717.616635
2,2015,63801.845319,4494.442771,3641.294141,71937.582232,13200.527822,8692.585989,4774.660678,26667.774489,98605.356720
3,2016,68854.615528,5136.289255,3862.865007,77853.769790,12742.523146,9841.200363,5187.041823,27770.765331,105624.535122

In [12]:
#overtime greater than 5%
df[df['Overtime'] > (df['Salaries']*0.05)].head()

,Year Type,Year,Organization Group Code,Organization Group,Department Code,Department,Union Code,Union,Job Family Code,Job Family,...,Employee Identifier,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
14,Calendar,2014,5,Culture & Recreation,REC,Recreation and Park Commission,261.0,"Laborers, Local 261",3400,Agriculture & Horticulture,...,23029,63978.00,17039.61,2184.23,83201.84,14287.99,13054.95,6721.63,34064.57,117266.41
23,Calendar,2016,5,Culture & Recreation,FAM,Fine Arts Museum,39.0,"Stationary Engineers, Local 39",7100,Administrative-Labor & Trades,...,20763,133977.95,20699.15,0.00,154677.10,24039.10,13890.30,10671.44,48600.84,203277.94
38,Calendar,2013,2,"Public Works, Transportation & Commerce",CWP,PUC Wastewater Enterprise,39.0,"Stationary Engineers, Local 39",7300,Journeyman Trade,...,8705,86530.02,17962.95,10555.21,115048.18,18665.90,12918.24,9328.44,40912.58,155960.76
40,Calendar,2015,1,Public Protection,POL,Police,911.0,Police Officers' Association,Q000,Police Services,...,13888,117139.22,20576.29,5747.49,143463.00,23170.33,12424.51,2240.80,37835.64,181298.64
44,Calendar,2015,1,Public Protection,FIR,Fire Department,798.0,"Firefighters - Miscellaneous, Local 798",H000,Fire Services,...,38574,130341.65,29607.28,16292.82,176241.75,28793.64,15052.76,2995.69,46842.09,223083.84

In [13]:
temp = []
for every in df['Job Family'].unique():
    benefits = df[df['Job Family'] == every]['Total Benefits'].mean()
    comp = df[df['Job Family'] == every]['Total Compensation'].mean()
    percent = (benefits/comp)*100
    temp.append((every,benefits,comp,percent))
    
percent_comp = DataFrame(temp,columns=('Job Family',
                                      'Total Benefits',
                                      'Total Compensation',
                                      'Percentage')).sort_values(by='Percentage',ascending=False).reset_index(drop=True)
percent_comp.head()

,Job Family,Total Benefits,Total Compensation,Percentage
0,Public Service Aide,5267.903671,14956.280236,35.222018
1,Park & Zoo,17946.662641,54776.310325,32.763548
2,Housekeeping & Laundry,24286.767749,74189.739399,32.736020
3,"Clerical, Secretarial & Steno",21549.044311,66517.545454,32.396030
4,Dietary & Food,19673.743314,61537.993465,31.970076

In [14]:
#write to csv
avg_comp.to_csv('Ques02_Part02.csv',index=False,header=True)