# Q4_PART ONE
You are supposed to extract data from the awards column in this dataset and split it into several
columns

In [47]:
import pandas as pd
from pandas import DataFrame
import sys, os, datetime

In [48]:
path = os.getcwd()+'\\data\\movies_awards.csv'
path

'C:\\Users\\ninad\\LocalRepository\\gadre_ninad_spring2017\\Assignment No 03\\data\\movies_awards.csv'

In [49]:
df = pd.read_csv(path) #Read data from CSV

In [50]:
df.head()

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Released,Actors,Year,Genre,Awards,Runtime,Type,Poster,imdbVotes,imdbID
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,14 Feb 2002,40 Glocc; Angelle Brooks; David Brown; Qadr Ca...,2002,Romance; Comedy,NaN,91 min,movie,NaN,79.0,tt0156376
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,12 Feb 2001,Jakob Eklund; Ebba Forsberg; Örjan Landström; ...,2001,Drama,NaN,347 min,movie,NaN,34.0,tt0201374
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,11 Jan 2001,Emilia Fox; Serban Celea; Alex Jennings; Steve...,2001,NaN,NaN,NaN,movie,NaN,8.0,tt0207989
3,none,A historical classic drama in three acts; reto...,NaN,True,Portuguese,Who Are You?,Portugal,João Botelho; Almeida Garrett (play),NaN,6.1,...,23 Nov 2001,Patrícia Guerreiro; Suzana Borges; Rui Morisso...,2001,Drama; History,1 win & 2 nominations.,112 min,movie,http://ia.media-imdb.com/images/M/MV5BMTM1Mjdi...,189.0,tt0210930
4,none,A father (Williams) suspects his son (Jackson)...,R,True,English,Skeletons in the Closet,USA,Donna Powers; Wayne Powers,NaN,5.4,...,24 Jul 2001,Treat Williams; Linda Hamilton; Jonathan Jacks...,2001,Crime; Drama; Mystery,1 win.,100 min,movie,http://ia.media-imdb.com/images/M/MV5BMjA0NjA2...,603.0,tt0212513

In [51]:
df = df[df['Awards'].notnull()]
df['Awards_won'] = df['Awards'].str.extract('(\d+) win', expand=True)
df['Awards_nominated'] = df['Awards'].str.extract('(\d+) nomination', expand=True)

In [52]:
#function to take plurals into count
def strip_plural(title):
    if str(title).endswith('s'):
        return str(title)[:-1]
    else:
        return str(title)

In [53]:
#extract name and count of award
df[['AwardCount','AwardWon']] = df['Awards'].str.extract('Won (\d+) (.*). Another', expand=True)
#extract name and count of nomination
df[['NominatedCount','AwardNominated']]= df['Awards'].str.extract('Nominated for (\d+) (.*). Another', expand=True)

In [54]:
df['AwardWon']= df['AwardWon'].apply(lambda x: strip_plural(x))
df['AwardNominated']= df['AwardNominated'].apply(lambda x: strip_plural(x))

In [55]:
#drop all duplicate entries
df = df.drop_duplicates()
df1 = df[['imdbID','AwardWon','AwardCount']]
df1 = df1.pivot(index = 'imdbID', columns='AwardWon', values='AwardWon').drop(['nan'],1)
df1 = df1.add_suffix('_won')

In [56]:
df2 = df[['imdbID','AwardNominated','NominatedCount']]
df2 = df2.pivot(index = 'imdbID', columns='AwardNominated', values='AwardNominated').drop(['nan'],1)
df2 = df2.add_suffix('_nominated')

In [57]:
df3 = pd.concat([df1,df2],axis =1)
df.head()

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Type,Poster,imdbVotes,imdbID,Awards_won,Awards_nominated,AwardCount,AwardWon,NominatedCount,AwardNominated
3,none,A historical classic drama in three acts; reto...,NaN,True,Portuguese,Who Are You?,Portugal,João Botelho; Almeida Garrett (play),NaN,6.1,...,movie,http://ia.media-imdb.com/images/M/MV5BMTM1Mjdi...,189.0,tt0210930,1,2,NaN,nan,NaN,nan
4,none,A father (Williams) suspects his son (Jackson)...,R,True,English,Skeletons in the Closet,USA,Donna Powers; Wayne Powers,NaN,5.4,...,movie,http://ia.media-imdb.com/images/M/MV5BMjA0NjA2...,603.0,tt0212513,1,NaN,NaN,nan,NaN,nan
5,none,Four perky; clueless cheerleaders from the Hap...,R,True,English,Cheerleader Ninjas,USA,Kevin Campbell,NaN,2.3,...,movie,http://ia.media-imdb.com/images/M/MV5BMjA3MTQ1...,881.0,tt0235280,NaN,1,NaN,nan,NaN,nan
6,none,Sandrine; a woman in her thirties gets tired o...,NaN,True,French,The Girl from Paris,France,Christian Carion; Eric Assous,64.0,6.8,...,movie,https://images-na.ssl-images-amazon.com/images...,1715.0,tt0240149,3,2,NaN,nan,NaN,nan
7,none,A rivalry develops between a showbiz veteran a...,R,True,English,The Final Curtain,UK; USA,John Hodge,NaN,5.8,...,movie,http://ia.media-imdb.com/images/M/MV5BOGI4MmIw...,466.0,tt0243904,1,1,NaN,nan,NaN,nan

In [59]:
df4 = df[['imdbID','Title','Awards','Awards_won','AwardCount','Awards_nominated','NominatedCount']].sort_values(by='imdbID')
df4.set_index('imdbID',inplace=True)
result_df = df4.join(df3, how='inner')
result_df.head()

,Title,Awards,Awards_won,AwardCount,Awards_nominated,NominatedCount,Golden Globe_won,Oscar_won,Primetime Emmy_won,BAFTA Film Award_nominated,Golden Globe_nominated,Oscar_nominated,Primetime Emmy_nominated
imdbID,,,,,,,,,,,,,
tt0038650,It's a Wonderful Life,Nominated for 5 Oscars. Another 6 wins & 1 nom...,6,NaN,1,5,None,None,None,None,None,Oscar,None
tt0062622,2001: A Space Odyssey,Won 1 Oscar. Another 13 wins & 7 nominations.,13,1,7,NaN,None,Oscar,None,None,None,None,None
tt0070992,Happy Days,Won 3 Golden Globes. Another 13 wins & 19 nomi...,13,3,19,NaN,Golden Globe,None,None,None,None,None,None
tt0076759,Star Wars: Episode IV - A New Hope,Won 6 Oscars. Another 48 wins & 28 nominations.,48,6,28,NaN,None,Oscar,None,None,None,None,None
tt0077687,The Hobbit,1 win & 2 nominations.,1,NaN,2,NaN,None,None,None,None,None,None,None

In [60]:
result_df = result_df.fillna(0)

In [61]:
#calculate total awards won for each movie
result_df['Awards_won'] = result_df['Awards_won'].astype(int) + result_df['AwardCount'].astype(int)
#calculate total nominations
result_df['Awards_nominated'] = result_df['Awards_nominated'].astype(int) + result_df['NominatedCount'].astype(int)

In [63]:
result_df = result_df.drop(['AwardCount','NominatedCount'], axis =1)   
result_df.head()

,Title,Awards,Awards_won,Awards_nominated,Golden Globe_won,Oscar_won,Primetime Emmy_won,BAFTA Film Award_nominated,Golden Globe_nominated,Oscar_nominated,Primetime Emmy_nominated
imdbID,,,,,,,,,,,
tt0038650,It's a Wonderful Life,Nominated for 5 Oscars. Another 6 wins & 1 nom...,6,6,0,0,0,0,0,Oscar,0
tt0062622,2001: A Space Odyssey,Won 1 Oscar. Another 13 wins & 7 nominations.,14,7,0,Oscar,0,0,0,0,0
tt0070992,Happy Days,Won 3 Golden Globes. Another 13 wins & 19 nomi...,16,19,Golden Globe,0,0,0,0,0,0
tt0076759,Star Wars: Episode IV - A New Hope,Won 6 Oscars. Another 48 wins & 28 nominations.,54,28,0,Oscar,0,0,0,0,0
tt0077687,The Hobbit,1 win & 2 nominations.,1,2,0,0,0,0,0,0,0

In [67]:
result_df.to_csv('Ques04.csv',sep=',', index=False)